<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <img src="/img/logo-mercado-liebre.svg" class="logo" width="360" alt="Cargando logo" />
        <input class="search" type="search" name="search" id="search" placeholder="Buscar productos, marcas"/>
        <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        <h2 class="copy-header">
          <i class="fas fa-hand-holding-usd"></i> 
          Comprá en cuotas y sin tarjeta de crédito
        </h2>
      </div>


      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="/ofertas">Ofertas</a></li>
          <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
          <li><a href="/vender">Vender</a></li>
          <li><a href="/ayuda">Ayuda</a></li>
        </ul>

        <ul class="rigth-navbar">
          <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
          <li><a href="/ingresar">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
          <li><a href="/mis-compras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
      </nav>

      <a href="#" class="burger-menu">
        <i class="fas fa-bars"></i>
      </a>
    </header>

    <main>
      <section>
        <h2>Basado en tu última visita</h2>
        <img
          src="/img/img-cafetera-moulinex.jpg"
          width="360"
          alt="Cargando imagen"
        />
        <div class="price-discount">
          <p class="price">$6.770</p>
          <p class="discount">40% off</p>
        </div>
        <h3>Cafetera Moulinex</h3>

        <img
          src="/img/img-macbook-pro-2019.jpg"
          width="360"
          alt="Cargando imagen"
        />
        <div>
          <p class="price">$230.000</p>
          <p class="discount">20% off</p>
        </div>
    
        <h3>Macbook Pro 2019</h3>

        <img
          src="/img/img-samsung-galaxy-s10.jpg"
          width="360"
          alt="Cargando imagen"
        />

        <div>
          <p class="price">$70.500</p>
          <p class="discount">10% off</p>
        </div>

        <h3>Samsung Galaxy S10</h3>

        <img
          src="/img/img-tv-samsung-smart.jpg"
          width="360"
          alt="Cargando imagen"
        />

        <div>
          <p class="price">$23.200</p>
          <p class="discount">5% off</p>
        </div>

        <h3>SmartTv Samsung 43"</h3>
      </section>

      <section>
        <h2>Ofertas</h2>
        <div></div>
        <img
          src="/img/img-cafetera-moulinex.jpg"
          width="360"
          alt="Cargando imagen"
        />
        <p class="price">$6.770</p>
        <p class="discount">40% off</p>
        <h3>Cafetera Moulinex</h3>

        <img
          src="/img/img-macbook-pro-2019.jpg"
          width="360"
          alt="Cargando imagen"
        />
        <p class="price">$230.000</p>
        <p class="discount">20% off</p>
        <h3>Macbook Pro 2019</h3>

        <img
          src="/img/img-samsung-galaxy-s10.jpg"
          width="360"
          alt="Cargando imagen"
        />
        <p class="price">$70.500</p>
        <p class="discount">10% off</p>
        <h3>Samsung Galaxy S10</h3>

        <img
          src="/img/img-tv-samsung-smart.jpg"
          width="360"
          alt="Cargando imagen"
        />
        <p class="price">$23.200</p>
        <p class="discount">5% off</p>
        <h3>SmartTv Samsung 43"</h3>
      </section>
    </main>

    <footer>
      <section>
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>

      <section>
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>

      <section>
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>

      <div class="copy-right">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
